<section class="productos">
	<!-- Variables -->
	<input class="ocultar" id="carritoID" name="carrito<%= numCarrito %>" type="number" value="<%= carrito.id %>">
	<p class="ocultar" id="productoID"><%= producto.id %></p>
	<p class="ocultar" id="precio"><%= producto.precio %> </p>

	<!-- IMAGEN Y NOMBRE -->
	<img src="/images/products/<%= producto.imagenes[0].ruta %> " alt="<%= producto.nombre %>" class="imagen-de-producto">
	<p class="nombre-de-producto"><%= producto.nombre %> </p>
	<!--CANTIDAD-->
	<div id="cantidad-y-flechas">
		<input id="cantidad" name="cantidad<%= numCarrito %>" type="number" value="<%= carrito.cantidad %>">
	</div>
	<!--PRECIO UNITARIO-->
	<div class="valor">
		<p class="título">$/un.</p>
		<p class="valor">$ <%= toThousand(producto.precio) %> </p>
	</div>
	<!--PRECIO TOTAL-->
	<div class="valor">
		<p class="título">Valor Parcial</p>
		<p class="valor" id="valorParcial">$ <%= toThousand(carrito.cantidad * producto.precio) %> </p>
	</div>
	<div>
		<!--TRASH-->
		<i class="fas fa-trash-alt" id="eliminar"></i>
	</div>	
</section>
