<%- include('head') %>
<body>
	<%- include('header') %>
	<script src="/javascript/login.js"></script>
	<main>
		<form action="/usuario/login" method="POST" class="formulario">
			<div>
				<ul class="envio_mail"><%=msg%></ul>
				<% if(typeof errores != 'undefined'){ %>
					<p style="color: red">ERROR</p>
					<ul>
						<% for(let i = 0; i < errores.length; i++){ %>
							<li><%=errores[i].msg%></li>  
						<%}%>
					</ul>
				<%}%>
			</div>
			<div class="grupo_email"><!--Dirección de mail-->
				<div class="formulario__grupo-input">
				     <input type="text" class="formulario__input email" name="email" placeholder="Dirección de mail"
				      value="<%= locals.oldData && oldData.email ? oldData.email : '' %>">
				     <i class="formulario__validacion-estado fas fa-times-circle"></i>
			    </div>
				<p class="formulario__input-error">Correo Electronico invalido.</p>
		   </div>
			<div class="grupo_contrasena"><!--Contraseña-->
				<div class="formulario__grupo-input">
				     <input type="password" class="formulario__input contrasena" name="contrasena"  placeholder="Contraseña">
                     <i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Escriba una contraseña.</p>
			</div>
			<div id="recordar">
				<label>Recordame</label>
				<input type="checkbox" name="recordar" checked>
			</div>  
			<div id="button"><!--'Buttons Olvidó su contraseña' y 'Registrarse'-->
				<a href="/usuario/recupero">
					<button type="button">¿Olvidó su contraseña?</button>
				</a>
				<a href="/usuario/crear" id="registrarse">
					<button type="button">Registrarse</button>
				</a>
			</div>
			<div id="button">
				<!--Buttons Enviar y Borrar-->
				<button type="submit">Enviar</button>
				<button type="reset">Borrar</button>
			</div>
			<div id="google-facebook">
				<!-- <img src="/images/varios/Google.png" alt="Google"> -->
				<!--<img src="/images/varios/facebook-icon.svg" alt="Facebook"> -->
			</div>
		</form>
	</main>
	<%- include('footer') %>
</body>
</html>